table {
  /* border: 2px solid black; */
  border-collapse: collapse;
  /* width: 1000px; */
  width: 1200px;
  height: 200px;
}

th {
  /* border: 2px solid forestgreen; */
  background-color: #e9d8d879;
  border-bottom: 1px solid black;
  height: 50px;
}

td {
  text-align: center;
}
