.btn.btn-enable {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  background-color: #3093c7;
  margin-bottom: 20px;
  padding: 7px 7px 7px 7px;

  font-weight: bold;
  transition: all 0.4s;
}

.btn.btn-disabled {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  opacity: 0.65;
  cursor: not-allowed;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  background-color: #3093c7;
  margin-bottom: 20px;
  padding: 7px 7px 7px 7px;
}

.btn:hover {
  border: none;
  background-color: #26759e;
}